* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background: #f5f5f3;
    color: #111;
    min-height: 100vh;
}

/* NAVBAR */

.nav {
    height: 60px;
    background: #fff;
    border-bottom: 0.5px solid #e0e0e0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #111;
}

.logo span {
    color: #1D9E75;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 14px;
    color: #666;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #1D9E75;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav_profile {
    text-decoration: none;
    font-size: 14px;
    font-weight:500;
    color: #666;
}
.nav_profile:hover {
    color: #1D9E75;
}

.nav-post-btn {
    text-decoration: none;
    background: #1D9E75;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.nav-post-btn:hover {
    background: #0F6E56;
}


.ti-user:hover {
    color: #1D9E75;
}


/* HERO */

.hero {
    padding: 4rem 2rem;
}

.hero-badge {
    width: fit-content;
    margin: auto;

    display: flex;
    align-items: center;
    gap: 6px;

    background: #E1F5EE;
    color: #0F6E56;

    padding: 6px 14px;
    border-radius: 999px;

    font-size: 13px;
    font-weight: 500;

    margin-bottom: 2rem;
}

.hero-content {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 480px;
    gap: 3rem;
    align-items: center;
}

.hero-left h1 {
    font-size: 58px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 1rem;
}
    

.hero-left h1 span {
    color: #1D9E75;
}

.hero-left p {
    font-size: 17px;
    color: #777;
    line-height: 1.7;
    max-width: 620px;
    margin-bottom: 2rem;
}

.hero-actions {
    display: flex;
    gap: 14px;
    margin-bottom: 2.5rem;
}

.btn-primary {
    background: #1D9E75;
    color: #fff;
    text-decoration: none;
    padding: 14px 22px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.btn-primary:hover {
    background: #0F6E56;
}

.btn-secondary {
    background: #fff;
    color: #111;
    text-decoration: none;
    padding: 14px 22px;
    border-radius: 10px;
    border: 0.5px solid #d9d9d9;
    font-size: 14px;
    font-weight: 500;
}

.btn-secondary:hover {
    background: #f3f3f3;
}

.hero-mini-stats {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.hero-mini-stats h3 {
    font-size: 28px;
    font-weight: 600;
}

.hero-mini-stats span {
    font-size: 13px;
    color: #888;
}

/* SEARCH CARD */

.search-card {
    background: #fff;
    border: 0.5px solid #e0e0e0;
    border-radius: 18px;
    padding: 1.5rem;
}

.search-top h3 {
    font-size: 22px;
    margin-bottom: 4px;
}

.search-top p {
    font-size: 13px;
    color: #888;
    margin-bottom: 1.5rem;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;

    border: 0.5px solid #d8d8d8;
    border-radius: 10px;

    padding: 12px 14px;
    margin-bottom: 1rem;
}

.search-box i {
    color: #aaa;
    font-size: 18px;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 14px;
    font-family: inherit;
}

.popular-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 1.5rem;
}

.popular-tags a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
    padding: 7px 12px;
    border-radius: 999px;
    background: #f5f5f3;
}

.quick-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.quick-card {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 14px;
    border: 0.5px solid #ececec;
    border-radius: 12px;
}

.q-icon {
    width: 48px;
    height: 48px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
}

.green {
    background: #E1F5EE;
    color: #1D9E75;
}

.orange {
    background: #FAEEDA;
    color: #854F0B;
}

.blue {
    background: #E8F1FF;
    color: #245EA9;
}

.quick-card h4 {
    font-size: 15px;
    margin-bottom: 2px;
}

.quick-card p {
    font-size: 12px;
    color: #888;
}

/* SECTIONS */

.section-heading {
    text-align: center;
    margin-bottom: 3rem;
}

.section-heading h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.section-heading p {
    color: #888;
    font-size: 14px;
}

/* HOW SECTION */

.how-section {
    background: #fff;
    border-top: 0.5px solid #e0e0e0;
    border-bottom: 0.5px solid #e0e0e0;

    padding: 5rem 2rem;
}

.steps-grid {
    max-width: 1100px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.step-card {
    background: #f9f9f8;
    border: 0.5px solid #ececec;
    border-radius: 18px;
    padding: 2rem;
}

.step-icon {
    width: 60px;
    height: 60px;
    border-radius: 16px;

    background: #E1F5EE;
    color: #1D9E75;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 26px;

    margin-bottom: 1.5rem;
}

.step-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.step-card p {
    font-size: 14px;
    color: #777;
    line-height: 1.7;
}

/* CATEGORIES */

.categories-section {
    padding: 5rem 2rem;
}

.categories-grid {
    max-width: 1100px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.category-card {
    background: #fff;
    border: 0.5px solid #e5e5e5;
    border-radius: 16px;

    padding: 2rem 1rem;

    text-align: center;

    transition: 0.2s;
    cursor: pointer;
}

.category-card:hover {
    transform: translateY(-3px);
    border-color: #1D9E75;
}

.category-card i {
    font-size: 30px;
    color: #1D9E75;
    margin-bottom: 12px;
}

.category-card h4 {
    font-size: 15px;
    font-weight: 500;
}

/* CTA */

.cta-section {
    padding: 0 2rem 5rem;
}

.cta-box {
    max-width: 1100px;
    margin: auto;

    background: #1D9E75;
    color: #fff;

    border-radius: 24px;

    text-align: center;

    padding: 4rem 2rem;
}

.cta-box h2 {
    font-size: 40px;
    margin-bottom: 1rem;
}

.cta-box p {
    color: #d7f5ea;
    margin-bottom: 2rem;
    font-size: 16px;
}

.cta-box .btn-primary {
    background: #fff;
    color: #111;
}

/* FOOTER */

.footer {
    background: #fff;
    border-top: 0.5px solid #e0e0e0;

    padding: 1.5rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-logo {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #111;
}

.footer-logo span {
    color: #1D9E75;
}

.footer p {
    font-size: 13px;
    color: #999;
}

/* RESPONSIVE */

@media(max-width:1100px) {

    .hero-content {
        grid-template-columns: 1fr;
    }

    .hero-left {
        text-align: center;
    }

    .hero-left p {
        margin: auto auto 2rem;
    }

    .hero-actions {
        justify-content: center;
    }

    .hero-mini-stats {
        justify-content: center;
    }

    .search-card {
        max-width: 650px;
        margin: auto;
    }

    .steps-grid {
        grid-template-columns: 1fr;
    }

    .categories-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {

    .nav {
        padding: 0 1rem;
    }

    .nav-links {
        display: none;
    }

    .hero {
        padding: 3rem 1rem;
    }

    .hero-left h1 {
        font-size: 42px;
    }

    .section-heading h2 {
        font-size: 28px;
    }

    .cta-box h2 {
        font-size: 32px;
    }
}

@media(max-width:540px) {

    .hero-left h1 {
        font-size: 34px;
    }

    .hero-actions {
        flex-direction: column;
    }

    .categories-grid {
        grid-template-columns: 1fr;
    }

    .hero-mini-stats {
        gap: 1.5rem;
    }

    .footer {
        justify-content: center;
        text-align: center;
    }

    .nav-post-btn {
        display: none;
    }
}


/* JOBS SECTION */

.jobs-section{
    padding:5rem 2rem;
    background:#fff;
    border-top:0.5px solid #e0e0e0;
    border-bottom:0.5px solid #e0e0e0;
}

.jobs-layout{
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:320px 1fr;
    gap:2rem;
    align-items:start;
}

/* FILTERS */

.jobs-filters{
    display:flex;
    flex-direction:column;
    gap:1.5rem;

    position:sticky;
    top:90px;
}

.filter-box{
    background:#fff;
    border:0.5px solid #e5e5e5;
    border-radius:18px;
    padding:1.8rem;
}

.filter-box h3{
    font-size:14px;
    letter-spacing:1px;
    color:#888;
    margin-bottom:1.5rem;
}

.filter-item{
    display:flex;
    align-items:center;
    justify-content:space-between;

    margin-bottom:1.2rem;
    cursor:pointer;
}

.filter-left{
    display:flex;
    align-items:center;
    gap:12px;
}

.filter-item input{
    width:18px;
    height:18px;
    accent-color:#1D9E75;
    cursor:pointer;
}

.filter-item span{
    font-size:16px;
    color:#222;
}

.filter-item small{
    color:#999;
    font-size:14px;
}

/* JOB LIST */

.jobs-list{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}

/* JOB CARD */

.job-card{
    background:#fff;
    border:0.5px solid #e5e5e5;
    border-radius:22px;
    padding:2rem;
    transition:0.2s;
}

.job-card:hover{
    border-color:#1D9E75;
    transform:translateY(-2px);
}

.job-top{
    display:flex;
    justify-content:space-between;
    gap:2rem;
    margin-bottom:1.4rem;
}

.job-top h3{
    font-size:32px;
    line-height:1.2;
    margin-bottom:14px;
    font-weight:600;
}

.job-top p{
    font-size:17px;
    color:#777;
    line-height:1.7;
    max-width:800px;
}

.job-top h4{
    color:#1D9E75;
    font-size:24px;
    white-space:nowrap;
}
/* .job-title{
    color:#1D9E75;
    font-size:24px;
} */

/* TAGS */

.job-tags{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:12px;

    padding-bottom:1.5rem;
    border-bottom:0.5px solid #ececec;
}

.tag{
    padding:10px 18px;
    border-radius:999px;
    font-size:14px;
    font-weight:500;
}

.green-tag{
    background:#E1F5EE;
    color:#0F6E56;
}

.yellow-tag{
    background:#FAEEDA;
    color:#854F0B;
}

.red-tag{
    background:#FAECE7;
    color:#993C1D;
}

.gray-tag{
    background:#f1f1f1;
    color:#555;
}
.blue-tag{
    background: #DBEAFE;
    color: #1E40AF;
}
.purple-tag{
    background: #EDE9FE;
    color: #5B21B6;
}
.distance{
    display:flex;
    align-items:center;
    gap:5px;
    color:#888;
    font-size:15px;
}

.distance i{
    font-size:16px;
}

/* BOTTOM */

.job-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding-top:1.5rem;
}

.user-box{
    display:flex;
    align-items:center;
    gap:14px;
}

.avatar{
    width:52px;
    height:52px;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:18px;
    font-weight:600;
}

.brown-avatar{
    background:#FAEEDA;
    color:#854F0B;
}

.green-avatar{
    background:#E1F5EE;
    color:#0F6E56;
}

.pink-avatar{
    background:#FAECE7;
    color:#993C1D;
}

.user-box h5{
    font-size:18px;
    margin-bottom:4px;
}

.user-box span{
    display:flex;
    align-items:center;
    gap:4px;

    color:#D38A12;
    font-size:15px;
    font-weight:500;
}

.job-action{
    display:flex;
    align-items:center;
    gap:1.5rem;
}

.job-action small{
    color:#999;
    font-size:15px;
}

.job-action button{
    border:0.5px solid #d9d9d9;
    background:#fff;
    padding:12px 24px;
    border-radius:12px;

    font-size:16px;
    font-weight:500;

    cursor:pointer;
    transition:0.2s;
}

.job-action button:hover{
    background:#1D9E75;
    border-color:#1D9E75;
    color:#fff;
}

/* RESPONSIVE */

@media(max-width:1100px){

    .jobs-layout{
        grid-template-columns:1fr;
    }

    .jobs-filters{
        position:static;
        flex-direction:row;
    }

    .filter-box{
        flex:1;
    }
}

@media(max-width:768px){

    .jobs-section{
        padding:4rem 1rem;
    }

    .jobs-filters{
        flex-direction:column;
    }

    .job-top{
        flex-direction:column;
        gap:1rem;
    }

    .job-top h3{
        font-size:26px;
    }

    .job-top p{
        font-size:15px;
    }

    .job-top h4{
        font-size:22px;
    }

    .job-bottom{
        flex-direction:column;
        align-items:flex-start;
        gap:1rem;
    }

    .job-action{
        width:100%;
        justify-content:space-between;
    }
}

@media(max-width:540px){

    .job-card{
        padding:1.3rem;
        border-radius:18px;
    }

    .job-top h3{
        font-size:22px;
    }

    .tag{
        padding:8px 14px;
        font-size:13px;
    }

    .job-action button{
        padding:10px 18px;
        font-size:14px;
    }

    .avatar{
        width:46px;
        height:46px;
        font-size:16px;
    }

    .user-box h5{
        font-size:16px;
    }
}