<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <header class="header">
            <div class="logo_div"><h1 class="logo">Near<span
                        style="color: #1D9E75;">Help</span></h1></div>
            <div class="header_child_1">
                <a class="h_c_1_a" href>Find jobs</a>
                <a class="h_c_1_a" href>How it works</a>
                <a class="h_c_1_a" href>Profile</a>
            </div>
        </header>
        <main>
            <section>
                <div class="main_sec_1">
                    <h2>Find help near you</h2>
                    <p>Post small home jobs or find work in your
                        neighbourhood</p>
                </div>
            </section>
            <section>
                <div class="main_sec_2_1">
                    <div class="search-bar">
                        <input type="text"
                            placeholder="e.g. fix a tap, paint a wall..." />
                        <button>Search</button>
                    </div>
                </div>
                <div class="main_sec_2_2">
                    <a class="main_s_2_2_a" href>Plumbing</a>
                    <a class="main_s_2_2_a" href>Electrical</a>
                    <a class="main_s_2_2_a" href>Cleaning</a>
                    <a class="main_s_2_2_a" href>Carpentry</a>
                    <a class="main_s_2_2_a" href>Gardening</a>
                    <a class="main_s_2_2_a" href>Painting</a>
                    <a class="main_s_2_2_a" href>Moving</a>
                </div>
            </section>
            <section>
                <div class="main_sec_3">
                    <aside>
                        <div class="main_s_3_l">
                            <div>
                                <div class="filter-card">
                                    <div class="filter-title">Category</div>
                                    <div class="filter-item">
                                        <div class="filter-left">
                                            <input type="checkbox" id="c1"
                                                checked />
                                            <label for="c1">Plumbing</label>
                                        </div>
                                        <span class="filter-count">18</span>
                                    </div>
                                    <div class="filter-item">
                                        <div class="filter-left">
                                            <input type="checkbox" id="c1"
                                                checked />
                                            <label for="c1">Electrical</label>
                                        </div>
                                        <span class="filter-count">9</span>
                                    </div>
                                    <div class="filter-item">
                                        <div class="filter-left">
                                            <input type="checkbox" id="c1"
                                                checked />
                                            <label for="c1">Cleaning</label>
                                        </div>
                                        <span class="filter-count">15</span>
                                    </div><div class="filter-item">
                                        <div class="filter-left">
                                            <input type="checkbox" id="c1"
                                                checked />
                                            <label for="c1">Carpentry</label>
                                        </div>
                                        <span class="filter-count">6</span>
                                    </div>
                                    <div class="filter-item">
                                        <div class="filter-left">
                                            <input type="checkbox" id="c1"
                                                checked />
                                            <label for="c1">Gardening</label>
                                        </div>
                                        <span class="filter-count">3</span>
                                    </div>
                                    <div class="filter-item">
                                        <div class="filter-left">
                                            <input type="checkbox" id="c1"
                                                checked />
                                            <label for="c1">Painting</label>
                                        </div>
                                        <span class="filter-count">11</span>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <div class="filter-card">
                                    <div class="filter-title">Urgency</div>
                                    <div class="filter-item">
                                        <div class="filter-left">
                                            <input type="checkbox" id="c1"
                                                checked />
                                            <label for="c1">Today</label>
                                        </div>
                                    </div>
                                    <div class="filter-item">
                                        <div class="filter-left">
                                            <input type="checkbox" id="c1"
                                                checked />
                                            <label for="c1">This Week</label>
                                        </div>
                                    </div>
                                    <div class="filter-item">
                                        <div class="filter-left">
                                            <input type="checkbox" id="c1"
                                                checked />
                                            <label for="c1">Flexible</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="main_s_3_r">
                        helooo
                    </div>
                </div>
            </section>
        </main>

    </body>
</html>