<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>WELCOME</h1>
        <a href="{% url 'Login_page' %}">login</a>
        <h3>Looking for a..</h3>
        <div class="two_buttons">
            <a href="{% url 'Helper_signup_page' %}">Job</a> <br>
            <a href="{% url 'Client_signup_page' %}">Helper</a>
        </div>

    </body>
</html>